Travel_CMS/Mpower.Services/bin/Debug/
Travel_CMS/Mpower.Rail.Model/obj/
Travel_CMS/Mpower.Services/obj/Debug/
Travel_CMS/Mpower.Rail.Model/bin/Debug/
Travel_CMS/Mpower.Travel.Web/bin/Debug/
Travel_CMS/Mpower.Travel.Web/obj/Debug/
Travel_CMS/Mpower.Models/obj/Debug/
Travel_CMS/Mpower.Models/bin/Debug/
Travel_CMS/Mpower.Data/obj/Debug/
