@{
   Layout=null;
}
<section class="content" style="margin:10px" ng-app="App">
<div class="container">
    <div class="col-md-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary mt5 ml5">
                    <div class="panel-heading"><strong>PNR Enquiry</strong></div>
                    <div class="panel-body">
                        <form class="form-horizontal mt10">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="control-label col-sm-4" for="pnr-no">PNR Number :</label>
                                        <div class="col-sm-8">
                                            <!--<input type="text" ng-model="pnrNo" required class="form-control" id="pnr-no" placeholder="">-->
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <!--<button type="submit" class="btn btn-sm btn-primary mt1 ml10" ng-click="GetPnrStatus()">Get Status</button>-->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>