@model RegisterViewModel 
@{ 
  if(TempData["Layout"]!=null) 
  { 
    Layout=null; 
  } 
  ViewData["Title"] = "Page Pan(s)"; 
  }

<section class="content" ng-app="PanApp" ng-controller="panListController">
	<hr />
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">List of Page Pan(s)</h3>
				<div class="col-md-offset-11 col-md-8">
					<button type="submit" ng-click="Add()" class="btn btn-default ">Add</button>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
					
					<div class="row">
						<div class="col-sm-12">
							<table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
								<thead>
									<tr role="row">
										<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
											style="width: 176px;" ng-click="sortType = 'title'; sortReverse = !sortReverse">Title</th>
										<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
											style="width: 224px;" ng-click="sortType = 'scriptFileId'; sortReverse = !sortReverse">Script File</th>

										<th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
											style="width: 112px;">Action</th>
									</tr>
								</thead>	
								<tbody>
									<tr role="row" class="odd" ng-repeat="pan in panList | orderBy:sortType:sortReverse">
										<td class="sorting_1">{{pan.title}}</td>
										<td>{{(pan.scriptFileId=="0"?"No":"Yes")}}</td>
										<td><a ng-click="update(pan.id)" style="cursor: pointer;padding:3px" class="text-black"><span class="glyphicon glyphicon-pencil"></span></a>
											<a confirmed-click="delete(pan.id)" ng-confirm-click="Do you want to delete?" style="cursor: pointer;padding:3px" class="text-black"><span onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'" style="cursor: pointer;padding:3px;color:black !important"
													class="glyphicon glyphicon-trash"> </span></a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr></tr>
								</tfoot>
							</table>
						</div>
					</div>
					<div class="row" style="visibility:hidden">
						<div class="col-sm-5">
							<div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
						</div>
						<div class="col-sm-7">
							<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
								<ul class="pagination">
									<li class="paginate_button previous disabled" id="example1_previous">
										<a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a></li>
									<li class="paginate_button next" id="example1_next">
										<a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<modal visible="showModal">
				<span ng-style="{color : (Error)== true ? 'red' : 'green'}">{{Message}}</span>
			</modal>
			<!-- /.box-body -->			
		</div>
	</div>
</section>
<!-- DataTables -->
