@{ ViewData["Title"] = "Agent"; }
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
<div class="col-md-9">
	<div data-ng-app="mainApp" class="container" data-ng-controller="AccountSettingController">
  <loading></loading>
		<div class="row">
			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog" >
	<div class="modal-dialog modal-lg"  >
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{Header}}</h4>
			</div>
			<div class="modal-body">
         <form class="form-horizontal" novalidate name="ApplicationForm">
			  <loading style='margin-top:20%'></loading>
				<div class="form-group">
					<label  class="col-md-3 control-label">Email<span class="text-danger" style="padding-left:5px">*</span></label>
					<div class="col-md-9">
						<input type="email" name="email" required ng-model="Agent.email" ng-disabled="disable" class="form-control" />
						<span ng-show="ApplicationForm.email.$dirty && ApplicationForm.email.$invalid || ApplicationForm.email.$error.required && ApplicationForm.email.$touched" class="text-danger">Email is not valid</span>
					</div>
				</div>
				<div class="form-group"  ng-if="disable==false" >
					<label  class="col-md-3 control-label">Password<span class="text-danger" style="padding-left:5px">*</span></label>
					<div class="col-md-9">
						<input id="password" type="password" name="password" ng-required="disable==false" ng-disabled="disable" ng-model="Agent.password" class="form-control" />
						<span class="text-danger">(Passwords must have at least one character that is not a letter or digit and one character in capital.)</span>
						<span ng-show="ApplicationForm.password.$error.required && ApplicationForm.password.$touched" class="text-danger">
							<br/>
						Mandatory field
						</span>
					</div>
				</div>
				<div class="form-group"  ng-if="disable==false" >
					<label class="col-md-3 control-label">Verify Password</label>
					<div class="col-md-9">
						<input id="confirmPassword" pw-check="password" name="confirmPassword" type="password" ng-required="disable==false" maxlength="20" ng-disabled="disable" ng-model="confirmPassword" class="form-control" />
						 <span ng-show="ApplicationForm.confirmPassword.$error.pwmatch" class="text-danger">Verify password not matched</span>
					
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Mobile<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<input type="text" name="mobNo" maxlength= "10" only-digits required ng-pattern="phoneNumbr" ng-disabled="disable" ng-model="Agent.mobNo" class="form-control" />
                    <span ng-show="ApplicationForm.mobNo.$error.required && ApplicationForm.mobNo.$touched" class="text-danger">
					Mandatory field
					</span>
					<span class="text-danger" ng-show="ApplicationForm.mobNo.$error.pattern">Mobile number is invalid.</span>
					</div>
				</div>
                <div class="form-group">
					<label class="col-md-3 control-label">Pan Card<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<input type="text" name="pancard" required maxlength="10" ng-disabled="disable" ng-model="Agent.pancard" class="form-control" />
                    <span ng-show="ApplicationForm.pancard.$error.required && ApplicationForm.pancard.$touched" class="text-danger">
					Mandatory field
					</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Merchant Account<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<input type="text" name="merchantAccount" required maxlength="10" ng-disabled="disable" ng-model="Agent.merchantAccount" class="form-control" />
                    <span ng-show="ApplicationForm.merchantAccount.$error.required && ApplicationForm.merchantAccount.$touched" class="text-danger">
					Mandatory field
					</span>
					</div>
				</div>
                <div class="form-group">
					<label class="col-md-3 control-label">Mac Id<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<input ng-model="Agent.macId" name="macId" required ng-disabled="disable" class="form-control" />
					 <span ng-show="ApplicationForm.macId.$error.required && ApplicationForm.macId.$touched" class="text-danger">
					Mandatory field
					</span>
	                </div>
				</div>
                 <div class="form-group">
					<label class="col-md-3 control-label">Device Id<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<input ng-model="Agent.deviceId" name="deviceId" required ng-disabled="disable" class="form-control" />
					 <span ng-show="ApplicationForm.deviceId.$error.required && ApplicationForm.deviceId.$touched" class="text-danger">
					Mandatory field
					</span>
			        </div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">SubUser Id<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<input ng-model="Agent.subUserId" name="subUserId" required maxlength="50" ng-disabled="disable" class="form-control" />
	                <span ng-show="ApplicationForm.subUserId.$error.required && ApplicationForm.subUserId.$touched" class="text-danger">
					Mandatory field
					</span>
				    </div>
				</div>
				
				<div class="form-group">
					<label class="col-md-3 control-label">SubUser Password<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<input ng-model="Agent.subUserPassword" name="subUserPassword" required maxlength="20" ng-disabled="disable" class="form-control" />
	                 <span ng-show="ApplicationForm.subUserPassword.$error.required && ApplicationForm.subUserPassword.$touched" class="text-danger">
					Mandatory field
					</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Is IRCTCActivated<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<select required ng-model="Agent.isIRCTCActivated" ng-init="Agent.isIRCTCActivated =''" ng-options="o.value as o.label for o in options" class="form-control" style="width: 50%">
				    </select>
                    </div>
				</div>
                <div class="form-group">
					<label class="col-md-3 control-label">Is Active<span class="text-danger" style="padding-left:5px">*</span></label>
                    <div class="col-md-9">
					<select ng-model="Agent.isActive" required ng-options="o.value as o.label for o in options" class="form-control" style="width: 50%">
						
					</select>
			        </div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-9">
						<button type="button" ng-style="{display:(disable)?'none':'block'}" ng-click="CreateAgent(Agent)" class="btn btn-default">Register</button>
						<button type="button" ng-style="{display:(!disable)?'none':'block'}" ng-click="UpdateAgent(Agent)" class="btn btn-default">Update</button>
					</div>
				</div> </form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

       	<div class="row">
			   
			<div class="bs-example marginTop50"  data-example-id="table-within-panel">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3> Registered Agents</h3>
						<div class="row">
						 <div class="col-md-11">
		            	<button type="submit" class="btn btn-primary pull-right" ng-click="Create()">Add Agent</button>
                     </div>
						</div>
					</div>
					<table class="table table-bordered table-striped">
						<thead>
							<tr role="row">
								<th>
									#
								</th>
								<th>
									Email
								</th>
								<th class="hidden-sm hidden-xs">
									Mobile No
								</th>
								<th class="hidden-sm hidden-xs">
									Pan Card
								</th>
								<th>
									Status
								</th>
								<th>
									Action
								</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="Setting in Agents">
								<th scope="row" class="col-md-1">
									{{$index+1}}
								</th>
								<td class="col-md-2">
									<span>{{Setting.email}}</span>
								</td>
								<td class="col-md-2 hidden-sm hidden-xs">
									<span>{{Setting.mobNo}}</span>
								</td>
								<td class="col-md-2 hidden-sm hidden-xs">
									<span>{{Setting.pancard}}</span>
								</td>
							    <td class="col-md-2">
									<md-switch ng-model="Setting.isActive" class="md-primary" style="margin:0px" label="Switch 6" ng-change="onChange(Setting)">
										 {{ Setting.isActive?'Active':'Inactive' }}
									</md-switch>
								</td>
								<td class="col-md-2">
									<span style="cursor: pointer" ng-click="Edit(Setting)" class="glyphicon glyphicon-pencil"></span>
								</td>
							</tr>
						</tbody>
					</table>
					<modal visible="showModal">
						<span ng-style="{color : (Error)== true ? 'red' : 'green'}">{{Message}}</span>
					</modal>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script type="text/javascript" src="~/SharedFactory.js"></script>
<script src="~/Account/AccountSettingService.js"></script>
<script type="text/javascript" src="@Url.Content("~/Account/AccountSettingController.js")"></script>
